/ {
    leds: leds {
        red_led: led0 {
            gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
        };
    };
    our_driver0: our_driver{
        compatible = "our,driver";
        status = "okay";
    };
    // our_driver1: our_driver1{
    //     compatible = "our,driver";
    //     status = "okay";
    // };
};
